@import "tailwindcss";

body {
  font-family: var(--font-clashclan), sans-serif;
  /* font-family: var(--font-supercell), sans-serif; */
}


@layer utilities {
  .text-3d {
    text-shadow:
      1px 1px 0 rgba(0, 0, 0, 0.2),
      2px 2px 0 rgba(0, 0, 0, 0.2),
      3px 3px 0 rgba(0, 0, 0, 0.2),
      4px 4px 0 rgba(0, 0, 0, 0.2),
      5px 5px 10px rgba(0, 0, 0, 0.4);
  }

  .text-3d-lifted {
    text-shadow:
      2px 2px 0 rgba(0, 0, 0, 0.3),
      4px 4px 0 rgba(0, 0, 0, 0.2),
      6px 6px 0 rgba(0, 0, 0, 0.1),
      8px 8px 15px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px black;
  }

  .text-3d-clash {
    color: #E8C068;
    text-shadow:
      3px 3px 0 #000,
      6px 6px 0 rgba(0, 0, 0, 0.8),
      9px 9px 0 rgba(0, 0, 0, 0.6),
      12px 12px 0 rgba(0, 0, 0, 0.4);
    -webkit-text-stroke: 3px black;
    paint-order: stroke fill;
  }

  .text-stroke-black {
    -webkit-text-stroke: .7px black;
  }

  .text-stroke-white {
    -webkit-text-stroke: 2px white;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */